/* No seu arquivo de estilo CSS ou SCSS */
.icon-received {
  color: #f97316; /* Cor para RECEIVED */
}

.text-received {
  color: #ff9800; /* Cor de texto para RECEIVED */
}

.icon-accepted {
  color: #00b894; /* Cor para ACCEPTED */
}

.text-accepted {
  color: #00b894; /* Cor de texto para ACCEPTED */
}

/* Outros status e cores aqui */

/* Cor padrão (default) */
.icon-default {
  color: #00B894; /* Cor padrão para ícones */
}

.text-default {
  color: #00B894; /* Cor de texto padrão */
}

.icon-preparing {
    color: #f97316;
}

.text-preparing {
    color: #f97316;
}