@media print {
  /* Ocultar botões de impressão */
  button {
    display: none;
  }
  img {
    display: none;
  }
  #accept, #accept-btn, #print {
    display:none  
  }

  /* Estilizar o conteúdo para a impressão */
  .w-5/12 {
    /* Ajuste o estilo do contêiner do pedido para impressão */
    width: 100%; /* Faça com que o contêiner ocupe toda a largura da página */

    /* Estilos para o título do pedido */
    .text-gray-500 {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }

    /* Estilos para o cabeçalho do pedido (nome e ícone) */
    .flex.items-center.justify-start {
      /* Ajuste o estilo do cabeçalho */
    }

    /* Estilos para os detalhes do pedido */
    .mt-10 {
      /* Ajuste a margem superior dos detalhes do pedido */
    }
    
    /* Estilos para cada item do pedido */
    .flex.items-start.justify-center.gap-2 {
      /* Ajuste o estilo de cada item do pedido */
    }

    /* Estilos para a imagem do produto */
    .w-16 {
      /* Ajuste o tamanho da imagem */
    }

    /* Estilos para a quantidade, nome e preço do produto */
    .flex.items-start.justify-center.gap-3 {
      /* Ajuste o estilo do contêiner do produto */
    }
    
    .text-lg {
      /* Ajuste o tamanho da fonte para a quantidade */
    }

    .text-base.flex.flex-col.items-start.justify-center {
      /* Ajuste o estilo do contêiner de detalhes do produto */
    }

    /* Estilos para o preço do produto */
    .text-base.flex.items-center.justify-start.gap-2 span {
      /* Ajuste o estilo do preço do produto */
    }
    
    /* Estilos para o total */
    .mt-7 {
      /* Ajuste a margem superior do total */
    }

    /* Estilos para o botão de impressão (se necessário) */
    button.border-2.border-orange-500.text-lg.text-orange-500.bg-white.hover:bg-orange-50.flex.p-1.rounded {
      display: none; /* Ocultar o botão de impressão na impressão */
    }
  }
}